assertpy==1.1
pytest==7.2.0
requests==2.28.1
robotframework==6.0
robotframework-datadriver==1.6.1
robotframework-seleniumlibrary==6.0.0
selenium==4.1.0
urllib3==1.26.8
webdriver-manager==3.8.4
xlrd==2.0.1
pytest-html==3.2.0
